/*header styles*/

header{
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: orange;
}

header h1{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  font-family: 'Courier New', Courier, monospace
  font-weight: bold;
  letter-spacing: 0.15em;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  background-color: orange;
  color:white;
  padding: 1rem;
  margin: 0;
  font-size: 60px;
}

/*end header styles*/



/*cards*/

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}

.sleepingcat-card {
  border: 2px solid #fcb354;
  padding: 10px;
  margin-bottom: 15px;
  border-width: 4px; 
  background-color: #fcb354;
  color: #fcff5f;
}

.sleepingcat-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.yawningcat-card {
  border: 2px solid #fcb354;
  padding: 10px;
  margin-bottom: 15px;
  border-width: 4px; 
  background-color: #fcb354;
  color: #fcff5f;
}

.yawningcat-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.cuddlingcat-card {
  border: 2px solid #fcb354;
  padding: 10px;
  margin-bottom: 15px;
  border-width: 4px; 
  background-color: #fcb354;
  color: #fcff5f;
}

.cuddlingcat-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}



/*end cards*/

/*text section*/
.websitetext {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace
  line-height: 1.6;
  color:#fcff5f;
  font-size:30px
}

.websitetext ul,
.websitetext ol {
  display: inline-block;
  text-align: left;
}

/*end text section*/
.indoor {
  border: 2px solid #fcb354;
  padding: 10px;
  margin-bottom: 15px;
  border-width: 4px; 
}
.indoortext {
  font-weight: bold;
  color: #fcff5f;
  text-align: center;
  font-size: 20px;
}

.personality {
  border: 2px solid #fcb354;
  padding: 10px;
  margin-bottom: 15px;
  border-width: 4px; 
}

.personalitytext {
  font-weight: bold;
  color: #fcff5f;
  text-align: center;
  font-size: 20px;
}




/*cat form*/

/*link styles*/
    a {
      color: rgb(247, 233, 49);
      text-decoration: none;
    }


/*end link styles*/

/*grid*/
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: #fcff5f;
  padding: 5px;
}
.container div {
  background-color: #ff4314;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}
/*grid end*/